html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: hidden;
}


#pages {
    display: flex;
    width: 300vw;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100vh;
    transition: 1s;

    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    background-image: url("../images/MainMenu.png");
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::selection {
    background-color: grey;
}

::-moz-selection {
    background-color: grey;
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navigation-title {
    display: flex;
    border: 15px solid;
    padding: 10px;
    border-image: url("../images/Border.png") 30 stretch;
    font-family: DaysGone;
    font-size: 64px;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.navigation-buttons > a {
    font-family: AlegreyaSans;
    text-align: end;
    user-select: none;
    transition: 0.3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    color: black;
}

.navigation-buttons > a:hover {
    padding-right: 20px;
    color: grey;
    cursor: pointer;
}

.navigation-buttons > a:link {
    text-decoration: none;
}

.navigation-contact-information {
    display: flex;
    gap: 30px;
    margin-bottom: 250px;
}

.navigation-contact-information > div {
    position: relative;
    display: flex;
    align-items: center;
}

.navigation-contact-information > div > img {
    width: 48px;
    filter: saturate(0%);
    user-select: none;
    transition: 0.3s;
}

.navigation-contact-information > div > img:hover {
    filter: saturate(100%);
    cursor: pointer;
}

.navigation-contact-information > div > span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    user-select: none;
    pointer-events: none;
    z-index: -1;
    font-family: AlegreyaSans-Medium;
}

.navigation-contact-information > div > .text-first-child {
    top: 120%;
    opacity: 1;
}

.navigation-contact-information > div:hover > .text-first-child {
    top: 60%;
    opacity: 0;
}

.navigation-contact-information > div > .text-last-child {
    top: 60%;
    opacity: 0;
}

.navigation-contact-information > div:hover > .text-last-child {
    top: 120%;
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    body {
        background-position: center;
    }
    #navigation {
        align-items: center;
    }
    .navigation-buttons > button {
        text-align: center;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

#two {
    background-image: url("../images/AboutMe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-me-title {
    width: 640px;
    height: 50px;
    border: 15px solid;
    padding: 18px;
    border-image: url("../images/Border.png") 30 stretch;
    overflow: hidden;
}

.about-me-title > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    animation: aboutMeTitle 10s ease;
    animation-iteration-count: infinite;
    margin-top: -5px;
    font-size: 64px;
}

.about-me-title > div > span {
    font-family: DaysGone;
    margin-inline: auto;
}

.about-me-description {
    width: 500px;
    font-size: 32px;
    font-family: AlegreyaSans;
}

.about-me-description > p > span {
    font-family: AlegreyaSans-Bold;
}

@keyframes aboutMeTitle {
    0% {
        margin-top: -5px;
    }
    12.5% {
        margin-top: -5px;
    }
    25% {
        margin-top: -75px;
    }
    37.5% {
        margin-top: -75px;
    }
    50% {
        margin-top: -145px;
    }
    62.5% {
        margin-top: -145px;
    }
    75% {
        margin-top: -215px;
    }
    87.5%{
        margin-top: -215px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

#three {
    background-image: url("../images/Projects&Tools.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
