html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: black;
}

.container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: hidden;
}


#pages {
    display: flex;
    width: 500vw;
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100vh;
    transition: 1s;

    padding-top: 50px;
    padding-right: 100px;
    padding-left: 50px;
}

#one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    background-image: url("../images/MainMenu.png");
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

::selection {
    background-color: grey;
}

::-moz-selection {
    background-color: grey;
}

#navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navigation-title {
    display: flex;
    border: 15px solid;
    padding: 10px;
    border-image: url("../images/Border.png") 30 stretch;
    font-family: DaysGone;
    font-size: 64px;
}

.navigation-buttons {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.navigation-buttons > a {
    font-family: AlegreyaSans;
    text-align: end;
    user-select: none;
    transition: 0.3s;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    color: black;
}

.navigation-buttons > a:hover {
    padding-right: 20px;
    color: grey;
    cursor: pointer;
}

.navigation-buttons > a:link {
    text-decoration: none;
}

.navigation-contact-information {
    display: flex;
    gap: 30px;
    margin-bottom: 250px;
}

.navigation-contact-information > div {
    position: relative;
    display: flex;
    align-items: center;
}

.navigation-contact-information > div > img {
    width: 48px;
    filter: saturate(0%);
    user-select: none;
    transition: 0.3s;
}

.navigation-contact-information > div > img:hover {
    filter: saturate(100%);
    cursor: pointer;
}

.navigation-contact-information > div > span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    user-select: none;
    pointer-events: none;
    z-index: -1;
    font-family: AlegreyaSans-Medium;
}

.navigation-contact-information > div > .text-first-child {
    top: 120%;
    opacity: 1;
}

.navigation-contact-information > div:hover > .text-first-child {
    top: 60%;
    opacity: 0;
}

.navigation-contact-information > div > .text-last-child {
    top: 60%;
    opacity: 0;
}

.navigation-contact-information > div:hover > .text-last-child {
    top: 120%;
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    body {
        background-position: center;
    }
    #navigation {
        align-items: center;
    }
    .navigation-buttons > button {
        text-align: center;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

#two {
    background-image: url("../images/AboutMe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-me-title {
    display: flex;
    width: 462px;
    border: 15px solid;
    padding: 10px;
    border-image: url("../images/Border.png") 30 stretch;
    font-family: DaysGone;
    font-size: 64px;
}

.about-me-title > div {
    margin-inline: auto;
}

.about-me-description {
    width: 700px;
    font-size: 32px;
    font-family: AlegreyaSans;
}

.about-me-description > p > span {
    font-family: AlegreyaSans-Bold;
}

@keyframes aboutMeTitle {
    0% {
        margin-top: -5px;
    }
    12.5% {
        margin-top: -5px;
    }
    25% {
        margin-top: -75px;
    }
    37.5% {
        margin-top: -75px;
    }
    50% {
        margin-top: -145px;
    }
    62.5% {
        margin-top: -145px;
    }
    75% {
        margin-top: -215px;
    }
    87.5%{
        margin-top: -215px;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

#three {
    display: flex;
    flex-direction: column;
    align-items: end;

    background-image: url("../images/Projects&Tools.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.exp-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.exp-description {
    width: 40%;
}

.exp-description > p {
    text-align: end;
    font-size: 32px;
    font-family: AlegreyaSans;
}

.exp-description > p > span {
    font-family: AlegreyaSans-Bold;
}

.exp-title {
    width: 640px;
    height: 50px;
    border: 15px solid;
    padding: 18px;
    border-image: url("../images/Border.png") 30 stretch;
    overflow: hidden;
}

.exp-title > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    animation: aboutMeTitle 10s ease;
    animation-iteration-count: infinite;
    margin-top: -5px;
    font-size: 64px;
}

.exp-title > div > span {
    font-family: DaysGone;
    margin-inline: auto;
}

.exp {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.exp > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 340px;
}


.exp > div > div {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    filter: saturate(1);
    user-select: none;
    cursor: help;
    transition: 0.6s;
}

.exp > div > div:hover {
    width: 100%;
    filter: saturate(1);
}

.tool-image > img {
    height: 64px;
    width: 120px;
}

.exp-column-2 > div:nth-child(4) > .tool-image > div {
    width: 120px;
}

.exp-column-2 > div:nth-child(4) > .tool-image > div > img {
    width: 64px;
    height: initial;
    display: flex;
    margin-inline: auto;
}

.tool-description {
    width: 100%;
    overflow: hidden;
}

.tool-description > h2 {
    font-size: 32px;
    font-family: AlegreyaSans-Bold;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
.tool-description > p {
    white-space: nowrap;
    font-size: 24px;
    font-family: AlegreyaSans;
    text-align: center;
    margin: 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#four {
    display: flex;
    flex-direction: column;

    background-image: url("../images/Projects.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

/*--------------------------------------------------------------------------------------------------------------------*/

#five{
    display: flex;
    flex-direction: column;
    align-items: end;

    background-image: url("../images/ContactMe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

#five > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#five > div > h1 {
    font-family: AlegreyaSans;
    margin: 0;
}

#five > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    gap: 10px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    filter: saturate(1);
    <!--user-select: none; -->
}

#five > div > form > button {
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    width: 50%;
}

#five > div > form > div {
    display: flex;
    gap: 10px;
}

.input-container {
    width: 100%;
}

.input-container > p {
    font-family: AlegreyaSans;
}

.input-container > input {
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-container > input:focus {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.input-container > textarea {
    border: none;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
}

